@font-face {
  src: url(../assets/fontgame.ttf);
  font-family: FontGame;
}

.bg_game {
  width: 100vw;
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  font-family: FontGame;
}
